.Filter {
  width: 100%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Filter-from {
  width: 100%;
  max-width: 932px;
  background: #000000;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.Filter-w100 {
  max-width: 1100px;
}

.Filter-selects {
  display: flex;
  align-content: center;
  padding-left: 19px;
  margin-right: auto;
}

.Filter-selects-item {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  margin-right: 40px;
  opacity: .7;
}

.Filter-selects-item:nth-child(1) {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.Filter-selects-item .navabrItembtn {
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
}

.Filter-selects-item:last-child {
  margin-right: 0;
}

.Filter-selects-item::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 5px;
  background-image: url("./assets/images/Vectorda.svg");
  margin-left: 7px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
}

.Filter-btn {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 13px 25px;
  background: #333333;
  border-radius: 9px;
  border: none;
  cursor: pointer;
}

.Filter-add {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  padding: 17px 26px;
  background: #7000FF;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.itemChecked {
  opacity: 1;
}
