.ServicesFrom {
    &_top {
        display: flex;
        align-content: center;
        justify-content: space-between;
        padding-bottom: 20px;


        &-back {
            font-family: 'Times';
            font-style: italic;
            font-weight: 400;
            font-size: 22px;
            line-height: 25px;
            letter-spacing: -0.01em;
            color: #000000;
            border: none;

            display: flex;
            align-items: center;

            &2 {
                color: #000000;
            }

            &::before {
                content: "";
                display: inline-block;
                width: 5px;
                height: 10px;
                background-image: url("./assets/images/Vectorleft.svg");
                margin-right: 22px;
            }
        }



        &-delete {
            margin-left: 21px;
            display: flex;
            align-items: center;
            margin-right: auto;
            border: none;
            cursor: pointer;

            &::before {
                content: "";
                display: inline-block;
                width: 16px;
                height: 16px;
                background-image: url("./assets/images/boxVector.svg");
                margin-right: 8px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        &-deleteshow {
            margin-right: 0;

        }

        &-show {
            margin-left: 21px;
            display: flex;
            align-items: center;
            margin-right: auto;
            border: none;
            cursor: pointer;

            &::before {
                content: "";
                display: inline-block;
                width: 16px;
                height: 16px;
                background-image: url("./assets/images/viewport-wide.svg");
                margin-right: 8px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        &-Cancel {
            cursor: pointer;
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;

            color: #FF6E6E;
            margin-right: 28px;
            border: none;
            background-color: transparent;
        }

        &-Publish {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            cursor: pointer;
            color: #121212;
            padding: 17px 25px;
            background: #FFFFFF;
            border-radius: 12px;
            border: none;
        }
    }

    &_from {
        width: 100%;
        min-height: 660px;
        background: #FFFFFF;
        border-radius: 10px;
        padding: 40px 36px 36px 69px;

        &-textTextarea {
            font-family: 'Outfit';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;

            color: #000000;
            outline: none;
            padding-bottom: 10px;
            border: none;
            border-bottom: 1px solid rgba(204, 204, 204, 0.7);
            width: 100%;
        }

        &-select {
            width: 100%;
            max-width: 290px;
        }

        &-top {
            margin-bottom: 24px;
            display: flex;
            align-items: center;

        }

        &-add {
            font-family: 'Outfit';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;

            color: #171A4A;

            opacity: 0.3;
            margin-top: 20px;
        }

        &-edit {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            margin-right: 18px;
            border: none;
            background-color: transparent;
            display: flex;
            align-items: center;

            &::before {
                content: "";
                display: inline-block;
                width: 16px;
                height: 16px;
                background-image: url("./assets/images/Iconsvse.svg");
                margin-right: 4px;
            }
        }

        &-Preview {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            opacity: 0.4;
            border: none;
            background-color: transparent;
        }

        &-imgvie {
            &:nth-child(2) {
                width: 254px;
                height: 179px;
                overflow: hidden;
                object-fit: cover;
            }
        }

        .mid2 {
            flex-direction: row-reverse;


            &-div {
                width: 254px;
                margin-left: 20px;
                display: flex;
                align-content: flex-start;
                flex-wrap: wrap;
            }
        }

        &-mid {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 50px;

            &-left {
                width: 100%;
                max-width: 646px;
                display: flex;
                align-items: flex-start;
                justify-items: space-between;
                flex-wrap: wrap;


                .inputtitle2 {
                    font-weight: 600;
                    color: #000000;
                    opacity: 1;
                    margin-top: 0;
                    margin-bottom: 40px;
                }

                .inputtitle3 {
                    font-weight: 600;
                    color: #000000;
                    opacity: 1;
                    margin-top: 0;
                    margin-top: 65px;
                }
            }

            &-tags {
                width: 100%;
                display: flex;
                justify-content: space-between;

                &list {
                    display: flex;
                    align-content: center;
                    font-family: 'Outfit';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;

                }

                &item {
                    background: #FFFFFF;
                    border-radius: 10px;
                    padding: 5px 10px;
                    border: 1px solid #c0bebe;
                    margin-top: 15px;
                    margin-right: 4px;
                }


            }


            &-inputtag {
                width: 100%;
                max-width: 290px;
                padding-bottom: 8px;
                border: none;

                border-bottom: 1px solid #c0bebe;
                outline: none;
                font-family: 'Outfit';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;

                &::placeholder {
                    font-family: 'Outfit';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                }


            }

            .inputtagcolor {
                border-bottom: 1px solid #7000FF;
                color: #7000FF;
            }

            &-date {
                font-family: 'Outfit';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                outline: none;
                color: #000000;

                width: 171px;
                border: none;
                border-bottom: 1px solid #c0bebe;
                padding-bottom: 8px;
                margin-left: auto;
            }

            &-inputtitle {
                margin-top: 40px;
                padding-bottom: 20px;
                width: 100%;
                border: none;
                outline: none;
                border-bottom: 1px solid rgba(204, 204, 204, 0.7);
                font-family: 'Outfit';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 30px;

                color: #000000;

                opacity: 0.6;
            }
        }

        .img12 {
            width: 254px;
            height: 179px;
            display: inline-block;
            margin-right: 4px;
            margin-bottom: 4px;
            position: relative;

            &-img {
                display: none;
            }

            .imgplus {
                position: absolute;
                top: 60px;
                left: 97px;
            }
        }

        .img2 {
            width: 105px;
            height: 81px;
            display: inline-block;
            margin-right: 4px;
            margin-bottom: 4px;

            &-img {
                display: none;
            }
        }

        .img3 {
            width: 326px;
            height: 250px;
            display: inline-block;
            margin-right: 4px;
            margin-bottom: 4px;


            &-img {
                display: none;
            }
        }


        &-img {
            display: inline-block;
            text-align: center;
            border-radius: 8px;
            width: 326px;


            input {
                display: none;
            }

            div {
                width: 96px;
                margin: 0 auto;
                padding: 26px;
                background: rgba(112, 0, 255, 0.4);
                border-radius: 45px;
                margin-bottom: 8px;
            }
        }


    }
}

.fr-sticky-off:nth-child(3) {
    display: none;
}

.fr-wrapper {
    &::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #fffefe;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgb(204, 203, 203);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(198, 196, 196);
    }
}

.Articles {
    &_wrap {
        background: #FFFFFF;
        border-radius: 10px;
        width: 100%;
        max-width: 1100px;
        padding: 40px;
        display: flex;
        align-items: flex-start;

        &-icons {
            margin-right: 38px;
            display: flex;
            flex-direction: column;

            img {
                margin-bottom: 16px;
            }
        }

        &-content {
            width: 100%;
            max-width: 690px;
        }

        &-title {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 66px;
            color: #000000;
            margin-bottom: 40px;

        }

        &-data {
            display: flex;
            align-items: center;
            margin-bottom: 40px;

            &p {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                color: #000000;
                margin-right: 24px;
            }

            &spa {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;

                color: #000000;

                opacity: 0.28;
                display: flex;
                align-items: center;

                &::before {
                    content: "";
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    background-color: black;
                    opacity: 0.1;
                    border-radius: 50%;
                    margin-right: 5px;
                }
            }
        }

        &-avatar {
            display: flex;
            align-items: center;
            margin-bottom: 32px;

            &-img {
                border-radius: 50%;
                margin-right: 12px;
                width: 60px;
                height: 60px;
                object-fit: cover;
            }

            &-name {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #000000;
            }

            &-job {
                margin-top: 2px;
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;

                color: #0038FF;

            }
        }

        &-img {
            width: 690px;
            height: 380px;
            object-fit: cover;
            margin-bottom: 40px;
        }

        &-topic {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 38px;

            color: #000000;
            margin-bottom: 20px;

        }

        &-text {

            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #000000;
            margin-bottom: 32px;
        }
    }
}

.fr-sticky-off {
    margin-top: 20px;
}

.btnopacity {
    opacity: .4;
}

.mid2-div {
    &>div>.ymaps-2-1-79-map {

        &:nth-child(2) {
            display: none !important;
        }
    }
}